body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.img {
  height: 200px;
  width: 200px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-top: 20px;
  font-weight: 500;
  color: #333;
}

#input-search {
  width: 300px;
  padding: 10px;
  margin: 20px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#btn {
  padding: 10px 20px;
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#btn:hover {
  background-color: #4cae4c;
}

#ul-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#ul-list div {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  width: 300px;
  transition: transform 0.2s;
}

#ul-list div:hover {
  transform: scale(1.05);
}

#ul-list h2 {
  font-size: 20px;
  color: #333;
  margin: 0 0 10px;
}

#ul-list img {
  border-radius: 10px;
  margin-bottom: 10px;
}

#ul-list p {
  color: #666;
  margin: 10px 0;
}

.icon {
  display: inline-block;
  background-color: #f0ad4e;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.icon:hover {
  background-color: #ec971f;
}

.sidebar {
  height: 100%;
  width: 380px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -380px;
  background-color: #d194a9;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
  text-align: center;
}

.openbtn {
  font-size: 20px;
  color: #fff;
  background-color: #333;
  cursor: pointer;
  margin-bottom: 5px;
}

.wishListDiv {
  margin-left: 10px;
  margin-bottom: 10px;
}
.cartItemDiv {
  margin: 10px;
  /* padding-bottom: 10px; */
}

.myCart {
  height: 100%;
  width: 500px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: -500px;
  background-color: #d194a9;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
  text-align: center;
}

.iconCart {
  display: inline-block;
  background-color: #ffa41d;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin: 5px;
}

.iconCart:hover {
  background-color: #cc7f0b;
}
.calculate {
  margin: 10px;
  padding: 10px;
}

.dark-mode {
  background-color: black;
  color: white;
}

.mode {
  width: 34px;
  margin-top: 5px;
  height: 30px;
}
